@import "color";

.label {
  min-width: 280px;
}

.value {
  width: 100%;
  border-radius: 8px;
  min-height: 32px;
}

.line {
  width: 100%;
  border: 1px solid $granite-gray;
}

.value-wrapper {
  border: 1px solid rgba($white, 0.08);
  background-color: rgba($black, 0.15);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  white-space: pre-line;
}
