@import "color";

:host {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;

  & table {
    border-collapse: separate;
    border-spacing: 0;

    & thead tr {
      background-color: $outer-space-crayola;

      & th {
        border-top: 1px solid $independence;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $outer-space-crayola;

        &:first-child {
          z-index: 100;
        }
      }
    }

    & tbody tr {
      &:last-child {
        height: 0;
        position: sticky;
        bottom: 0;
        z-index: 100;
        border-bottom: 1px solid $independence;
      }

      &:nth-last-child(2) td {
        border-bottom: 0;
      }

      &:last-child td {
        height: 0;
        padding: 0;
      }
    }
  }

  & th,
  & td {
    text-align: center;
    padding: 8px;
    box-sizing: border-box;

    &:last-child {
      border-right: 1px solid $independence;
      position: sticky;
      right: 0;
      background-color: $outer-space-crayola;
      padding-right: 7px;
    }

    &:first-child {
      border-left: 1px solid $independence;
      position: sticky;
      left: 0;
      z-index: 100;
      width: 0;
      padding: 0;
    }

    &:nth-child(2) {
      border-left: 0;
    }
  }
}

th,
td,
tr {
  border-bottom: 1px solid $independence;
  border-left: 1px solid $independence;
  text-align: center;
}

.table-id,
.table-link {
  white-space: nowrap;
  position: relative;
  user-select: none;

  & img {
    display: none;
  }

  &:hover {
    & img {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 2px;
      height: 16px;
    }
  }
}

.table-link {
  max-width: 200px;

  & a {
    color: $tan-2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-wrapper {
  display: flex;
}
