$white: #ffffff;
$black: #000000;
$gunmetal-2: #2d3340;
$charcoal: #3b4354;
$tan: #d3bc8d;
$tan-2: #d3bc8e;
$philippine-silver: #b2b2b2;
$granite-gray: #686766;
$gunmetal: #262b36;
$independence: #4a5366;
$outer-space-crayola: #323947;
$outer-space: #414958;
$auro-metal-saurus: #6c727f;
$copper: #b27330;
$purple-mountain-majesty: #9c75b7;
$medium-aquamarine: #5ecda9;
$kiwi: #9be53d;
$capri: #00c0ff;
$tomato: #ff6640;
$sky-blue: #77e9ea;
$heliotrope: #cc80ff;
$dark-tangerine: #ffb00d;
$cookies-and-cream: #e9dba5;
$medium-purple: #7f7edb;
