@import "color";
@import "text";

body {
  color: $text-color-default;
  background-color: $gunmetal;
  font-family: monospace;
  font-size: $text-size-default;
  margin: 0;
  font-weight: 400;
}

input {
  font-family: monospace;
  cursor: text;
}

button {
  cursor: pointer;
}

label {
  font-size: $text-label-size;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.08);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.16);
  border: 1px solid hsla(0, 0%, 100%, 0.25);
}
