@import "color";

.default-select-wrapper {
  position: relative;
}

.default-select-input {
  background-color: $gunmetal;
}

.default-select-options {
  position: absolute;
  top: 40px;
  min-width: 120px;
  z-index: 1000;
  background-color: $gunmetal;
}

.default-select-text {
  width: 100%;
  text-align: center;
}

svg-icon {
  margin-right: 4px;
}
