<div *ngIf="defaultOption" class="default-select-wrapper disable-selection">
  <div
    class="dropdown-input pointer default-select-input flex-left"
    (click)="toggle()"
    (clickOutside)="close()"
  >
    <svg-icon
      *ngIf="iconSvg"
      [src]="iconSvg"
      [svgStyle]="svgIconStyle"
    ></svg-icon>
    <div [class.default-select-text]="iconSvg">
      {{ selected.label | translate }}
    </div>
  </div>
  <div
    class="pointer dropdown-options default-select-options"
    *ngIf="openSelector && options"
  >
    <div *ngFor="let option of options" (click)="select(option)">
      {{ option.label | translate }}
    </div>
  </div>
</div>
