tvt-default-btn {
  margin-left: auto;
}

.registration {
  width: 100%;

  & p {
    margin: 0;
  }
}

.authorization {
  width: 285px;
  box-sizing: border-box;

  & > clt-text-input,
  & > clt-password-input {
    margin-bottom: 16px;
  }

  & > clt-horizontal-divider {
    margin: 8px 0;
  }
}
