@import "color";

.playable-create {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-wrapper {
  gap: 4px;
  border: 1px solid $granite-gray;
  border-radius: 8px;
  padding: 8px;
  height: calc(100vh - 83px);
}

form {
  overflow: auto;
  gap: 4px;
}

.btn-wrapper {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  border: 1px solid $granite-gray;
  border-radius: 8px;
  padding: 4px 8px;
}

.scroll {
  padding-right: 8px;
}
