<form
  [formGroup]="form"
  class="height-100 flex-column gap-8 padding-8"
  *ngIf="loaded"
  (ngSubmit)="save()"
>
  <div class="card-wrapper-form-main flex-column flex-fill-space gap-4">
    <div class="form flex-column gap-4" cltScrollClass>
      @for (item of metadata; track $index) {
        <clt-text-field
          *ngIf="item === fieldType.String"
          [formField]="item.id"
          [label]="item.label"
        ></clt-text-field>
        <clt-dropdown-field
          *ngIf="fieldType.Option"
          [formField]="item.id"
          [options]="options[item.option]"
          [label]="item.label"
        ></clt-dropdown-field>
        <clt-checkbox-field
          *ngIf="fieldType.Checkbox"
          [formField]="item.id"
          [options]="options[item.option]"
          [label]="item.label"
        ></clt-checkbox-field>
        <clt-datetime-field
          *ngIf="fieldType.Birthday"
          [formField]="item.id"
          [label]="item.label"
        ></clt-datetime-field>
      }
    </div>
  </div>
  <div class="card-wrapper-btn flex-row-right gap-8">
    <clt-default-btn [routerLink]="detailsLink">{{
      "shared.btn.back" | translate
    }}</clt-default-btn>
    <clt-default-btn [type]="btnType">{{
      "shared.btn.save" | translate
    }}</clt-default-btn>
  </div>
</form>
