@import "color";

.form-wrapper {
  border: 1px solid $granite-gray;
  border-radius: 8px;
  padding: 8px;
  height: calc(100vh - 83px);
}

.form {
  overflow: auto;
}

.edit {
  padding: 8px;
  gap: 8px;
  box-sizing: border-box;
  height: 100vh;
}

.btn-wrapper {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  border: 1px solid $granite-gray;
  border-radius: 8px;
  padding: 4px 8px;
}

.scroll {
  padding-right: 8px;
}
